$theme-colors: (
    "light":      #d0e5f2,
    "dark":       #001531,
    "primary":    #8fced6,
    "secondary":  #2d7792,
    "info":       #ed4e4f,
    "success":    #26bb5d,
    "warning":    #f1ce22,
    "danger":     #fc1232,
);
$body-bg: #2d7792;
$body-color: #ffffff;

@import "../bootstrap/scss/bootstrap";
